---
export const prerender = true;

import { type CollectionEntry, getCollection } from 'astro:content';

import BlogArticle from '@/components/blog/Article.astro';
import DetailNav from '@/components/blog/DetailNav.astro';
import BlogLayout from '@/layouts/BlogLayout.astro';

// TODO: import { filterObject } from '@/lib/main';
// TODO: import { getNamedPath } from '@/lib/url';


export async function getStaticPaths() {
  const articles = await getCollection('blog');
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }));
}


type Props = CollectionEntry<'blog'>;
const article = Astro.props;

// TODO: const headerAttrs = {
//   route: getNamedPath('blog'),
//   ...filterObject(article.data, ['title', 'published', 'updated', 'tags', 'collection'])
// };
---


<BlogLayout>
  {/* TODO: <ContentHeader {...headerAttrs} /> */}
  <main class="prose max-w-none">
    <BlogArticle {article} />
  </main>

  <DetailNav {article} />
</BlogLayout>
