---
export const prerender = true;

import { type CollectionEntry } from 'astro:content';

import { hydrateArticle, getRawArticles } from '@/lib/blog';
// TODO: import { filterObject } from '@/lib/main';
// TODO: import { getNamedPath } from '@/lib/url';

import BlogArticle from '@/components/blog/Article.astro';
import DetailNav from '@/components/blog/DetailNav.astro';
import Layout from '@/layouts/BlogLayout.astro';


export async function getStaticPaths() {
  const articles = await getRawArticles();
  return articles.map((article) => ({
    params: { slug: article.data.slug },
    props: article,
  }));
}


type Props = CollectionEntry<'blog'>;
const article = hydrateArticle(Astro.props);
const headProps = {
  title: article.data.title,
  description: article.data.abstract,
  image: article.data.hero?.image,
}

// TODO: const headerAttrs = {
//   route: getNamedPath('blog'),
//   ...filterObject(article.data, ['title', 'published', 'updated', 'tags', 'collection'])
// };
---


<Layout {...headProps}>
  {/* TODO: <ContentHeader {...headerAttrs} /> */}
  <main class="prose max-w-none">
    <BlogArticle {article} />
  </main>

  <DetailNav collection="blog" {article} />
</Layout>
