---
export const prerender = true;

import { type CollectionEntry, getCollection } from 'astro:content';

import { Icon } from 'astro-icon/components';

import BlogArticle from '@/components/blog/Article.astro';
import Layout from '@/layouts/BlogLayout.astro';
import { getAdjacentArticles } from '@/lib/blog';
import { getNamedPath } from '@/lib/url';

// TODO: import { filterObject } from '@/lib/main';
// TODO: import { getNamedPath } from '@/lib/url';


export async function getStaticPaths() {
  const articles = await getCollection('blog');
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }));
}


type Props = CollectionEntry<'blog'>;
const article = Astro.props;
const { prev: prevArticle, next: nextArticle } = await getAdjacentArticles(article);


// TODO: const headerAttrs = {
//   route: getNamedPath('blog'),
//   ...filterObject(article.data, ['title', 'published', 'updated', 'tags', 'collection'])
// };
---


<Layout>
  {/* TODO: <ContentHeader {...headerAttrs} /> */}
  <main class="prose prose-lg max-w-none">
    <BlogArticle {article} />
  </main>

  <nav class="mt-10 pt-5 border-t border-gray-200 flex justify-between items-center">
    {nextArticle && (
      <a href={getNamedPath('blog', nextArticle.slug)} title={nextArticle.data.title}>
        <Icon name="mdi:arrow-left" class="w-5 h-5 ml-2" />
        <span>Next</span>
      </a>
    )}
    {prevArticle && (
      <a href={getNamedPath('blog', prevArticle.slug)} title={prevArticle.data.title}>
        <span>Previous</span>
        <Icon name="mdi:arrow-right" class="w-5 h-5 mr-2" />
      </a>
    )}
  </nav>
</Layout>


<style>
  nav > a {
    @apply flex items-center;
  }
  nav > a:last-of-type {
    @apply ml-auto;
  }
</style>
