---
import { getArticles } from '@/lib/blog';

import BlogList from '@/components/blog/List.astro';
import Layout from '@/layouts/BlogLayout.astro';


const articles = await getArticles();
---


<Layout>
  <main class="prose max-w-none">
    <BlogList {articles} />
  </main>
</Layout>
