---
import BlogList from '@/components/blog/List.astro';
import Layout from '@/layouts/MainLayout.astro';
import { getArticles } from '@/lib/blog';


const articles = await getArticles();
---


<Layout>
  <section class="container mx-auto px-4 py-8">
    <BlogList {articles} />
  </section>
</Layout>
