@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-background: #fafafa;
  --color-text: #333;
  --color-primary: #1e88e5; /* Blue 600 */
  --color-accent: #7cb342;  /* Light Green 600 */
  --color-dim: #777;
  --color-error: #d32f2f;  /* Red 700 */
  --color-disabled: #aaa;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-border: #e5e5e5;
  --tw-prose-code: red;

  --font-body: Roboto, sans-serif;
  --font-body-normal: 400;
  --font-body-bold: 500;
  /* --font-display: "Atkinson Hyperlegible", sans-serif;
  --font-display-normal: 700; */
  --font-display: "Alan Sans", sans-serif;
  --font-display-normal: 600;
  --font-display-light: 300;
  --font-mono: "Roboto Mono", ui-monospace;

  --default-font-family: var(--font-body);
}



@layer base {
  body {
    @apply bg-background text-text;
  }

  a {
    @apply text-primary hover:text-accent transition-colors;
  }

  img, svg {
    fill: "currentColor";
    /* stroke: "currentColor"; */
  }
}


@layer utilities {
  .prose {
    a {
      color: var(--color-primary);

      &:hover {
        color: var(--color-accent);
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-display);
      font-weight: var(--font-display-normal);
      letter-spacing: -0.01em;
      line-height: 1.25;
    }
    h1 { font-size: 2.25em; }
    h2 { font-size: 2.0em; }
    h3 { font-size: 1.6em; }
    h4 { font-size: 1.35em; font-weight: 500; }

    strong {
      font-weight: var(--font-body-bold);
    }

    em {
      margin-left: -1px;
      margin-right: 2px;
    }

    hr.strong {
      border-color: var(--color-dim);
      margin-block: 5em;
    }

    code:not(.astro-code code) {
      background-color: #eaeaea;
      color: #800;
      border-radius: 4px;
      padding: 2px 4px;
      /* margin-inline: 2px; */
      font-weight: var(--font-body-normal);

      &::before { content: none; }
      &::after  { content: none; }

      b &,
      strong & {
        font-weight: inherit;
      }
    }

    .astro-code[data-language="markdown"],
    .astro-code[data-language="text"] {
      white-space: pre-wrap;
    }
  }
}


@layer components {
  .prose {
    line-height: 1.6;
  }
}


a {
  font-weight: var(--font-body-normal);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  b &,
  strong & {
    font-weight: inherit;
  }
}

.button {
  @apply text-white bg-primary border border-primary rounded-md px-4 py-2;
  @apply hover:text-primary hover:bg-transparent hover:no-underline;
  text-align: center;
  max-width: 100%;

  &.button-outline {
    @apply text-primary bg-transparent border-transparent hover:text-primary hover:border-primary;
  }

  &.button-accent {
    @apply bg-accent border-accent hover:text-accent hover:bg-transparent;

    &.button-outline {
      @apply text-accent bg-transparent border-transparent hover:text-accent hover:border-accent;
    }
  }
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;

  > li {
    /* margin-block: 0; */
    padding-inline-start: 0;
  }
  > li li {
    list-style: disc;
  }
}

.info-block {
  border-left: 3px solid #ccc;
  color: var(--color-dim);
  margin-top: 2em;
  padding-left: 0.5em;

  a {
    color: #3ea8e5;
  }
}

q {
  display: block;
  font-style: italic;
  quotes: "“" "”";

  &::before, &::after { @apply text-dim; }
  &::before { content: open-quote; }
  &::after { content: close-quote; }
}

blockquote:has(+ .author) {
  margin-bottom: 0;
}

blockquote cite,
q + .author {
  @apply text-dim;
  display: block;
  white-space: nowrap;

  &::before {
    content: "—";
    margin-right: 2px;
  }

  a {
    color: inherit;
  }
}

.author cite {
  font-style: normal;
  quotes: "‘" "’";

  &::before, &::after { @apply text-dim; }
  &::before { content: open-quote; }
  &::after { content: close-quote; }
}

blockquote.unstyled {
  font-weight: var(--font-body-normal);

  p {
    line-height: 1.5;
    margin-block: 1em;
  }
  p:first-of-type::before, p:last-of-type::after { content: ""; }
}

.remark {
  margin-block: 1.6em;
  padding-left: 1em;
  border: 0 solid var(--color-accent); border-left-width: 4px;
}
