/*
- CSS precedence (left beats right): unlayered > utilities > components > base.
  - Base: Element defaults / resets – goes on top of Preflight (https://tailwindcss.com/docs/preflight)
  -`@utility` makes the class participate in variant stacking (`hover:`, `md:`…)
- Anything visual (colors, spacing, element defaults) should go through `@theme` or a `@layer`.
- To use Tailwind directives and functions in components (not needed for vars), you must declare: `@reference "@/styles/global.css";`
  ⚠️ Every `@reference` adds a bit of build overhead per component! Try to avoid.
*/

@import "tailwindcss";
@plugin "@tailwindcss/typography";


/* 1. THEME ===================================================================================== */

/* @config "./tailwind.config.js" */
@theme {
  --color-background: #fafafa;
  --color-background-light: #eaeaea;
  --color-background-medium: #ddd;
  --color-text: #333;
  --color-primary: #1e88e5; /* Blue 600 */
  --color-accent: #7cb342;  /* Light Green 600 */
  --color-dim: #777;
  --color-code: #b00;
  --color-error: #d32f2f;  /* Red 700 */
  --color-marker: #aa9;
  --color-disabled: #aaa;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-border: #e5e5e5;

  --color-lgray: #bbb;
  --color-mgray: #888;
  --color-dgray: #666;

  --font-body: "Roboto", sans-serif;
  --weight-body-light: 400;
  --weight-body-normal: 400;
  --weight-body-strong: 500;

  --font-display: "Alan Sans", sans-serif;
  --weight-display-light: 300;
  --weight-display-normal: 500;
  --weight-display-strong: 600;

  --font-mono: "Roboto Mono", ui-monospace;
  --weight-mono-light: 400;
  --weight-mono-normal: 400;
  --weight-mono-strong: 500;

  --font-logo: var(--font-display);
  --weight-logo-normal: 400;

  --default-font-family: var(--font-body);
}


/* 2. BASE LAYER ================================================================================ */

@layer base {

  body {
    color: var(--color-text);
    background-color: var(--color-background);
  }

  a {
    @apply text-primary hover:text-accent transition-colors;
  }

  img, svg {
    fill: "currentColor";
    /* stroke: "currentColor"; */
  }

} /* @layer base */


/* 3. COMPONENTS LAYER ========================================================================== */

@layer components {

  .prose {
    line-height: 1.6;
  } /* .prose */

} /* @layer components */


/* 4. UTILITIES ================================================================================= */

@layer utilities {

  .prose {
    --tw-prose-bullets: var(--color-lgray);
    --tw-prose-code: var(--color-code);
    --tw-prose-hr: var(--color-lgray);

    a {
      color: var(--color-primary);

      &:hover {
        color: var(--color-accent);
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-display);
      font-weight: var(--weight-display-normal);
      letter-spacing: -0.01em;
      line-height: 1.25;
    }
    h1 { font-size: 2.25em; }
    h2 { font-size: 2.0em; }
    h3 { font-size: 1.6em; }
    h4 { font-size: 1.35em; font-weight: 500; }

    strong {
      font-weight: var(--weight-body-strong);
    }

    em {
      margin-left: -1px;
      margin-right: 2px;
    }

    hr.strong {
      border-color: var(--color-dim);
      margin-block: 5em;
    }

    code:not(.astro-code code) {
      background-color: var(--color-background-light);
      color: var(--color-code);
      border-radius: 4px;
      padding: 2px 4px;
      /* margin-inline: 2px; */
      font-weight: var(--weight-body-normal);

      &::before { content: none; }
      &::after  { content: none; }

      b &,
      strong & {
        font-weight: inherit;
      }
    }

    .astro-code[data-language="markdown"],
    .astro-code[data-language="text"] {
      white-space: pre-wrap;
    }

  } /* .prose */

} /* @layer utilities */


/* 5. GLOBAL ==================================================================================== */

fragment { display: inline; }

a {
  font-weight: var(--weight-body-normal);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  b &,
  strong & {
    font-weight: inherit;
  }
}

.button {
  @apply text-white bg-primary border border-primary rounded-md px-4 py-2;
  @apply hover:text-primary hover:bg-transparent hover:no-underline;
  text-align: center;
  max-width: 100%;

  &.button-outline {
    @apply text-primary bg-transparent border-transparent hover:text-primary hover:border-primary;
  }

  &.button-accent {
    @apply bg-accent border-accent hover:text-accent hover:bg-transparent;

    &.button-outline {
      @apply text-accent bg-transparent border-transparent hover:text-accent hover:border-accent;
    }
  }
}

p.indent {
  padding-inline-start: 1em;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;

  > li {
    /* margin-block: 0; */
    padding-inline-start: 0;
  }
  > li li {
    list-style: disc;
  }
}

.info-block {
  border-left: 3px solid #ccc;
  color: var(--color-dim);
  margin-top: 2em;
  padding-left: 0.5em;

  a {
    color: #3ea8e5;
  }
}

q {
  display: block;
  font-style: italic;
  quotes: "“" "”";

  &::before, &::after { color: var(--color-dim); }
  &::before { content: open-quote; }
  &::after  { content: close-quote; }
}

blockquote {
  color: var(--color-dgray);
  font-weight: var(--weight-body-normal);
  padding: 0.25em 0.75em;
  quotes: "" "";

  > *:first-child { margin-top: 0; }
  > *:last-child  { margin-bottom: 0; }

  p {
    line-height: 1.5;
    margin-block: 1em;
  }

  &:has(+ .author) {
    margin-bottom: 0;
  }
}

blockquote > cite,
q + .author {
  color: var(--color-dim);
  display: block;
  white-space: nowrap;

  &::before {
    content: "—";
    margin-right: 2px;
  }

  a {
    color: inherit;
    border-bottom: 1px dotted var(--color-lgray);

    &:hover {
      border-bottom: 1px solid var(--color-dim);
      text-decoration: none;
    }
  }
}

.author cite {
  display: inline-block;
  font-style: inherit;
}

.remark {
  margin-block: 1.6em;
  padding-left: 1em;
  border: 0 solid var(--color-accent); border-left-width: 4px;
}
