@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-background text-text;
}

a {
  @apply text-primary hover:text-accent transition-colors;
}

img, svg {
  fill: 'currentColor';
  /* stroke: 'currentColor'; */
}


ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;

  > li {
    /* margin-block: 0; */
    padding-inline-start: 0;
  }
  > li li {
    list-style: disc;
  }
}


.button {
  @apply text-white bg-primary border border-primary rounded-md px-4 py-2;
  @apply hover:text-primary hover:bg-transparent hover:no-underline;
  text-align: center;
  max-width: 100%;

  &.button-outline {
    @apply text-primary bg-transparent border-transparent hover:text-primary hover:border-primary;
  }

  &.button-accent {
    @apply bg-accent border-accent hover:text-accent hover:bg-transparent;

    &.button-outline {
      @apply text-accent bg-transparent border-transparent hover:text-accent hover:border-accent;
    }
  }
}
