---
import { SOCIAL_NAV } from '@/settings.mjs';

import IconLink from '@/components/IconLink.astro';
import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;

// const thisYear = new Date().getFullYear();
---


<footer class:list={['mt-16 px-2 pt-4 pb-12 text-sm', className]}>
  <Container class="flex justify-center space-x-4">
    {/* <div class="legal">© 1974–${thisYear} Pascal Polleunus.</div> */}
    <nav>
      <ul class="flex gap-4">
        {SOCIAL_NAV.map((item) => (
          <li>
            {item && (
              <IconLink {...{...item, size: 16, target: "_blank", rel: "noopener noreferrer"}} />
            ) || (
              <></>
            )}
          </li>
        ))}
      </ul>
    </nav>
  </Container>
</footer>
