---
import { COPYRIGHT_NAME, COPYRIGHT_START_YEAR, SOCIAL_NAV } from '@/settings.mjs';

import IconLink from '@/components/IconLink.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;

const thisYear = new Date().getFullYear();
---


<footer id="main-footer" class:list={['p-2 text-sm', className]}>
  <div class="legal">
    © {COPYRIGHT_START_YEAR}{thisYear > COPYRIGHT_START_YEAR && `–${thisYear}`}
    {COPYRIGHT_NAME}.
  </div>
  <nav id="footer-socials">
    <ul class="flex gap-2">
      {SOCIAL_NAV.map(({label, url, icon}) => (
        <li><IconLink {...{label, url, icon}} /></li>
      ))}
    </ul>
  </nav>
</footer>
