---
import { SOCIAL_NAV } from '@/settings.mjs';

import IconLink from '@/components/IconLink.astro';
import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;

const thisYear = new Date().getFullYear();
---


<footer id="main-footer" class:list={['bg-background shadow-sm mt-8 text-sm', className]}>
  <Container class="flex justify-center space-x-4">
    {/*
    <div class="legal">
      © {COPYRIGHT_START_YEAR}{thisYear > COPYRIGHT_START_YEAR && `–${thisYear}`}
      {COPYRIGHT_NAME}.
    </div>
    */}
    <nav id="footer-socials">
      <ul class="flex gap-4">
        {SOCIAL_NAV.map((item) => (
          <li>
            {item && (
              <IconLink {...{...item, target: "_blank", rel: "noopener noreferrer"}} />
            ) || (
              <></>
            )}
          </li>
        ))}
      </ul>
    </nav>
  </Container>
</footer>
