---
import { MAIN_NAV, SITE_NAME } from '@/settings.mjs';
import { getNamedPath } from '@/utils/url.mjs';

import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---


<header id="main-header" class:list={["bg-background shadow-sm", className]}>
  <Container class="flex justify-between items-center">
    <h1 class="text-xl">
      <a href={getNamedPath('home')}>{SITE_NAME}</a>
    </h1>
    <nav>
      <ul class="flex space-x-4 font-light">
        {MAIN_NAV.map(({label, url}) => (
          <li><a href={url}>{label}</a></li>
        ))}
      </ul>
    </nav>
  </Container>
</header>


<style>
  a {
    @apply text-text;
    @apply hover:text-primary;
  }
</style>
