---
import { getNamedPath } from '@/lib/url.mjs';
import { MAIN_NAV, SITE_NAME } from '@/settings.mjs';

import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---


<header class:list={['mb-12 py-4', className]}>
  <Container class="flex flex-col items-center sm:flex-row sm:justify-between">
    <h1 class="text-xl mb-2 sm:mb-0">
      <a href={getNamedPath('home')}>{SITE_NAME}</a>
    </h1>
    <nav>
      <ul class="flex space-x-4 font-light">
        {MAIN_NAV.map(({label, url, style}) => (
          <li><a href={url} class={style}>{label}</a></li>
        ))}
      </ul>
    </nav>
  </Container>
</header>


<style>
  a {
    @apply text-text;
    @apply hover:text-primary;
  }

  a.highlight {
    @apply text-secondary hover:text-primary;
    font-weight: 500;
  }
</style>
