---
import { MAIN_NAV, SITE_NAME } from '@/settings.mjs';
import { getNamedPath } from '@/utils/url.mjs';

import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---


<header id="main-header" class={className}>
  <Container>
    <nav>
      <h1><a href={getNamedPath('home')}>{SITE_NAME}</a></h1>
      <ul>
        {MAIN_NAV.map(({label, url}) => (
          <li><a href={url}>{label}</a></li>
        ))}
      </ul>
    </nav>
  </Container>
</header>


<style>
  h1 {
    font-weight: 300;
  }
</style>
