---
import { getNamedPath } from '@/lib/url';
import { MAIN_NAV, SITE_NAME } from '@/settings';

import Container from '@/components/layout/Container.astro';


interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---


<header class:list={['mb-12 py-4', className]}>
  <Container class="flex flex-col items-center sm:flex-row sm:justify-between">
    <h1 class="text-xl mb-2 sm:mb-0">
      <a href={getNamedPath('home')}>{SITE_NAME}</a>
    </h1>
    <nav>
      <ul class="flex space-x-4 font-light">
        {MAIN_NAV.map(({label, url, style}) => (
          <li><a href={url} class={style}>{label}</a></li>
        ))}
      </ul>
    </nav>
  </Container>
</header>


<style>
  @reference "@/styles/global.css";

  h1 {
    font-family: var(--font-body);
    letter-spacing: normal;
    font-size: 1.25em;
  }

  a {
    @apply text-text hover:text-primary;

    &:hover {
      text-decoration: none;
    }

    &.highlight {
      @apply text-accent hover:text-primary;
      font-weight: var(--font-body-bold);
    }
  }
</style>
