---
import Container from '@/components/layout/Container.astro';
import PageLayout from '@/layouts/PageLayout.astro';
---


<PageLayout
  title="Instant Messaging"
  description="My instant messaging accounts."
  meta={ [ { name: 'robots', content: 'noindex, follow' } ] }
>
  <h1>Instant Messaging</h1>

  <Container class="md:flex md:justify-center md:space-x-4">
    <section>
      <h3>Signal</h3>
      <a href="https://signal.me/#eu/a8WA9Mh7ucWLNJ-a71iT3qBcAG22kATQrVeQfs44zn92LDoY8iZPzYxa3cdk_BKN">
        <div><strong class="text-accent">Preferred</strong> • ppo.69</div>
        <img src="/media/qrcode-signal.webp" width="250" height="250" alt="Signal QR Code" />
      </a>
    </section>

    <section>
      <h3>Telegram</h3>
      <a href="https://t.me/ppolleunus">
        <div>ppolleunus</div>
        <img src="/media/qrcode-telegram.webp" width="250" height="250" alt="Telegram QR Code" />
      </a>
    </section>

    <section>
      <h3>WhatsApp</h3>
      <div>&nbsp;</div>
      <img src="/media/qrcode-whatsapp.webp" width="250" height="250" alt="WhatsApp QR Code" />
    </section>
  </Container>
</PageLayout>


<style>
  section {
    text-align: center;

    img { margin: 0 auto; }
  }
</style>
