---
import BlogList from '@/components/blog/List.astro';
import WorkingOn from '@/components/WorkingOn.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getFeaturedArticles } from '@/lib/blog';


const featuredVBRArticles = await getFeaturedArticles('vanbuildrethink');
const featuredBlogArticles = await getFeaturedArticles('blog');
---


<PageLayout>
  {true && (
    <section>
      <h2 class="text-2xl font-bold mb-4">Currently Working On</h2>
      <WorkingOn />
    </section>
  )}

  {featuredVBRArticles?.length > 0 && (
    <section>
      <h2 class="text-2xl font-bold mb-4">Featured Van Build Rethink Articles</h2>
      <BlogList articles={featuredVBRArticles} />
    </section>
  )}

  {featuredBlogArticles?.length > 0 && (
    <section>
      <h2 class="text-2xl font-bold mb-4">Featured Blog Articles</h2>
      <BlogList articles={featuredBlogArticles} />
    </section>
  )}
</PageLayout>


<style>
  section:first-of-type h2 {
    margin-top: 0;
  }
</style>
