---
import BlogList from '@/components/blog/List.astro';
import WorkingOn from '@/components/WorkingOn.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getLatestArticles } from '@/lib/blog';


const latestBlogArticles = await getLatestArticles('blog');
---


<PageLayout>
  {false && (
    <section>
      <h2 class="text-2xl font-bold mb-4">Currently Working On</h2>
      <WorkingOn />
    </section>
  )}

  {latestBlogArticles?.length > 0 && (
    <section>
      <h2 class="text-2xl font-bold mb-4">Latest Blog Articles</h2>
      <BlogList articles={latestBlogArticles} />
    </section>
  )}
</PageLayout>


<style>
  section:first-of-type h2 {
    margin-top: 0;
  }
</style>
