---
import BlogList from '@/components/blog/List.astro';
import WorkingOn from '@/components/WorkingOn.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getFeaturedArticles } from '@/lib/blog';


const featuredArticles = await getFeaturedArticles();
---


<MainLayout>
  <main class="prose max-w-none">
    <section>
      <h2 class="text-2xl font-bold mb-4">Currently Working On</h2>
      <WorkingOn />
    </section>

    {featuredArticles?.length > 0 && (
      <section>
        <h2 class="text-2xl font-bold mb-4">Featured Articles</h2>
        <BlogList articles={featuredArticles} />
      </section>
    )}
  </main>
</MainLayout>


<style>
  section:first-of-type h2 {
    margin-top: 0;
  }
</style>
