---
export const prerender = true;

import { type CollectionEntry, getCollection } from 'astro:content';

import BlogArticle from '@/components/blog/Article.astro';
import DetailNav from '@/components/blog/DetailNav.astro';
import Layout from '@/layouts/VanBuildRethinkLayout.astro';

// TODO: import { filterObject } from '@/lib/main';
// TODO: import { getNamedPath } from '@/lib/url';


export async function getStaticPaths() {
  const articles = await getCollection('vanbuildrethink');
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }));
}


type Props = CollectionEntry<'vanbuildrethink'>;
const article = Astro.props;
const headProps = {
  title: article.data.title,
  description: article.data.abstract,
  image: article.data.hero?.image,
}

// TODO: const headerAttrs = {
//   route: getNamedPath('vanbuildrethink'),
//   ...filterObject(article.data, ['title', 'published', 'updated', 'tags', 'collection'])
// };
---


<Layout {...headProps}>
  {/* TODO: <ContentHeader {...headerAttrs} /> */}
  <main class="prose max-w-none">
    <BlogArticle {article} />
  </main>

  <DetailNav contentName="vanbuildrethink" {article} />
</Layout>
