---
import BlogList from '@/components/blog/List.astro';
import Layout from '@/layouts/VanBuildRethinkLayout.astro';
import { getArticles } from '@/lib/blog';


const articles = await getArticles('vanbuildrethink');
---


<Layout>
  <header class="text-center pb-2 mb-10">
    <p>
      <span class="block mb-2 sm:inline-block md:mb-0">
        Join the conversation on <a href="https://www.reddit.com/r/VanBuildRethink/">Reddit</a>
      </span>
      <span class="invisible sm:visible">•</span>
      Subscribe to our <a href="https://vanbuildrethink.kit.com/">newsletter</a>
    </p>
    <p>
      <a href="https://www.facebook.com/vanbuildrethink/">Facebook</a> •
      <a href="https://github.com/VanBuildRethink">GitHub</a> •
      <a href="https://www.instagram.com/vanbuildrethink/">Instagram</a> •
      <a href="https://www.linkedin.com/company/vanbuildrethink/">LinkedIn</a> •
      <a href="https://www.pinterest.com/vanbuildrethink/">Pinterest</a> •
      <a href="https://www.tiktok.com/@vanbuildrethink">TikTok</a> •
      <a href="https://x.com/vanbuildrethink">X</a> •
      <a href="https://www.youtube.com/@VanBuildRethink">YouTube</a>
    </p>
  </header>
  <main class="prose max-w-none">
    <BlogList {articles} />
  </main>
</Layout>


<style>
  header {
    border-bottom: 1px solid var(--color-gray-200);

    p { margin-bottom: 0.5rem; }
  }
</style>
