---
import BlogList from '@/components/blog/List.astro';
import BlogLayout from '@/layouts/BlogLayout.astro';
import { getArticles } from '@/lib/blog';


const articles = await getArticles('vanbuildrethink');
---


<BlogLayout>
  <main class="prose max-w-none">
    <BlogList {articles} />
  </main>
</BlogLayout>
