---
import BlogList from '@/components/blog/List.astro';
import Layout from '@/layouts/VanBuildRethinkLayout.astro';
import { getArticles } from '@/lib/blog';


const articles = await getArticles('vanbuildrethink');
---


<Layout>
  <main class="prose max-w-none">
    <BlogList {articles} />
  </main>
</Layout>
