---
import { Icon } from 'astro-icon/components';


interface Props {
  icon: string;
  url: string;
  size?: number;
  label?: string;
  target?: string;
  rel?: string;
  class?: string;
}
const { icon, url, size = 24, label, target, rel, class: className } = Astro.props;

const aProps = {
  href: url,
  title: label,
  target,
  rel,
};
const iconProps = {
  name: icon,
  title: 'Icon: ' + (label ? label : icon.replace(/^[^:]+:/g, '')),
  size,
};
---


<a {...aProps} class={className}>
  <Icon {...iconProps} class="inline" />
  {label && (<span style={`margin-left: ${size/3}px`}>{label}</span>)}
</a>
