<p>
  <a href="https://meet4intent.com/" class="text-text font-bold">Meet⁴</a><br>
  Express what you're looking for and we'll notify you when the right match appears.
  “Set & Forget” - it's that simple. No swiping, no profiles - just meaningful connections.<br>
  <a href="https://meet4intent.com/">Read more…</a>
</p>
