---
import ListItem from '@/components/blog/ListItem.astro';


const { articles } = Astro.props;
---


<div class="not-prose flex flex-col space-y-10">
  {articles.map((article) => (
    <ListItem {article} />
  ))}
</div>
