---
import BaseHead from '@/components/head/BaseHead.astro';
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
import GoogleAnalytics from '@/components/services/GoogleAnalytics.astro';


interface Props {
  title?: string | null;
  description?: string | null;
  image?: string | URL | null;
  meta?: object[];
}

const {
  title,
  description,
  image,
  meta,
} = Astro.props.frontmatter || Astro.props;  // `.md[x]` provide a `frontmatter` prop.
---


<html lang="en">
  <head>
    <BaseHead {...{title, description, image, meta}} />
  </head>
  <body>
    <div>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>

    <GoogleAnalytics />
  </body>
</html>
