---
import BaseHead from '@/components/head/BaseHead.astro';
import Container from '@/components/layout/Container.astro';
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/Header.astro';
import GoogleAnalytics from '@/components/services/GoogleAnalytics.astro';

import '@/styles/global.css';


interface Props {
  title?: string | null;
  description?: string | null;
  image?: string | URL | null;
  meta?: object[];
}

const {
  title,
  description,
  image,
  meta,
} = Astro.props.frontmatter || Astro.props;  // `.md[x]` provide a `frontmatter` prop.
---


<html lang="en">
  <head>
    <BaseHead {...{title, description, image, meta}} />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <div id="main-body" class="flex-grow">
      <Container>
        <slot />
      </Container>
    </div>
    <Footer />

    <GoogleAnalytics />

    <style is:global>
      /* Improve Page speed: https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
