---
import MyEmail from '@/components/MyEmail.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getNamedPath } from '@/lib/url';
import { ROUTES } from '@/settings';

interface Props {
  title?: string | null;
  description?: string | null;
  image?: string | URL | null;
  meta?: object[];
  frontmatter?: object[];
}

const {
  title,
  description = 'A master plan?! Yes, like Elon… but faster! 1 year, not 10 😂 Wait! Didn’t he also say: “Most people overestimate what they can do in one year and underestimate what they can do in ten years.” 🤔 Well, what I plan here is not rocket science 😉',
  image = '/blog/master-plan-2025.webp',
  meta,
} = Astro.props.frontmatter || Astro.props;  // `.md[x]` provide a `frontmatter` prop.
---


<MainLayout title={[title, "Master Plan 2025"]} {...{description, image, meta}}>
  <header class="pb-1 mb-8 flex gap-4">
    <h1><a href={ROUTES.mp25} class="text-dim hover:text-primary bold">MASTER PLAN 2025</a></h1>
    <div>
      <a href={getNamedPath('mp25', 'links')}>All languages &amp; PDFs</a>
      •
      <MyEmail label="Contact" />
    </div>
  </header>

  <main class="prose max-w-none">
    <slot />
  </main>
</MainLayout>


<style>
  header {
    border-bottom: 1px solid #ddd;
  }
</style>
